<web-app>
<context-param>
<param-name>email</param-name>
<param-value>shikharsingh267@gmail.com</param-value>
</context-param>


<servlet>
<servlet-name>servletccex</servlet-name>
<servlet-class>servletccex</servlet-class>
<init-param>
<param-name>age</param-name>
<param-value>57</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>servletccex</servlet-name>
<url-pattern>/sc</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>servletccex2</servlet-name>
<servlet-class>servletccex2</servlet-class>
<init-param>
<param-name>age</param-name>
<param-value>8768</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>servletccex2</servlet-name>
<url-pattern>/sc2</url-pattern>
</servlet-mapping>

</web-app>
