<web-app>
<servlet>
<servlet-name>RequestAttribute1</servlet-name>
<servlet-class>RequestAttribute1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RequestAttribute1</servlet-name>
<url-pattern>/s1</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>RequestAttribute2</servlet-name>
<servlet-class>RequestAttribute2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RequestAttribute2</servlet-name>
<url-pattern>/s2</url-pattern>
</servlet-mapping>






</web-app>