<web-app>
<servlet>
<servlet-name>GetDataFromDB</servlet-name>
<servlet-class>GetDataFromDB</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GetDataFromDB</servlet-name>
<url-pattern>/servlet1</url-pattern>
</servlet-mapping>



<listener>
<listener-class>Listener</listener-class>
</listener>

</web-app>
