<web-app>
<servlet>
<servlet-name>RequestDispatcherEx</servlet-name>
<servlet-class>RequestDispatcherEx</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RequestDispatcherEx</servlet-name>
<url-pattern>/s1</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Servlet</servlet-name>
<servlet-class>Servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Servlet</servlet-name>
<url-pattern>/s2</url-pattern>
</servlet-mapping>






</web-app>
